body, html {
  width: 100%;
  height: 100%; }

th {
  color: greenyellow; }

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto; }

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px; }

.form-signin .checkbox {
  font-weight: normal; }

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px; }

.form-signin .form-control:focus {
  z-index: 2; }

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.form-invalid-login {
  color: red;
  text-align: center;
  margin-bottom: 10px; }

.form-field-obs {
  color: greenyellow;
  font-size: 12px; }

.fieldError {
  color: hotpink;
  margin-left: 20px; }

#cms {
  padding: 20px; }

.cmsHeader {
  margin-bottom: 40px; }

.clientId {
  position: absolute;
  color: gray; }

.solutionsTop h2 {
  float: left; }

.avSeats {
  line-height: 70px; }

.solutionsOptions {
  clear: both;
  margin-bottom: 20px; }

.cellCenterText {
  text-align: center; }

.iconAction {
  font-size: 22px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer; }

.addSeatsCell {
  float: left;
  width: 20px;
  text-align: center;
  line-height: 22px; }

.addSeatsCellInner {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  margin-top: -2px; }

.solutionsActions_enabled {
  color: #df691a;
  cursor: pointer; }

.solutionsActions_disabled {
  color: gray;
  cursor: not-allowed; }

.struct {
  float: left;
  width: 260px; }
  .struct img {
    width: 250px;
    height: auto;
    border: 1px solid gray; }

.structTxt {
  font-size: 2em;
  width: 650px;
  text-justify: inter-word;
  text-align: justify; }

.logoOnLogin {
  position: absolute;
  bottom: 20px;
  right: 20px;
  opacity: 0.01; }

.logoOnCms {
  position: absolute;
  left: 20px;
  top: 20px;
  opacity: 0.1;
  width: 50px; }

.loginForm {
  height: 300px;
  top: calc(50% - 150px);
  position: absolute;
  width: 300px;
  left: calc(50% - 150px); }
