<div class="modal-header">
    <h3 class="modal-title">Buy seats</h3>
</div>
<div class="modal-body">
    Choose the quantity of seats that you wish to allocate among your solutions. After this step you will be redirect to PayPal to perform the payment. If you are a company located in UK, we can offer bank transfer as payment option and issue an invoice. Just contact us at <a href="mailto:sales@wunderscript.com">sales@wunderscript.com</a>
    <br><br><span style="color: #ff8686"><b>Important:</b> Seats cannot be allocated on trial solutions</span><br><br>
    <form name="form">
        <div>How many seats do you wish to buy ?<br><br></div>
        <div class="form-group">
            <select style="color:black" ng-model="chooseQty" ng-options="item as item.price for item in qty track by item.seats"></select>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="submit" ng-click="ok()" ><i class="fa fa-paypal" aria-hidden="true"></i> Buy</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>