<div class="modal-header">
    <h3 class="modal-title">Change your details</h3>
</div>
<div class="modal-body">
    <form name="form">
        <div class="form-group">
            <label>Company name</label><label class="fieldError" ng-show="form.cName.$error.required">This field is required</label>
            <input required="" ng-model="cName" name="cName" type="text" class="form-control" placeholder="">
            <small></small>
        </div>
        <div class="form-group">
            <label>Contact name</label><label class="fieldError" ng-show="form.contact.$error.required">This field is required</label>
            <input required="" ng-model="contact" name="contact" type="text" class="form-control">
            <small></small>
        </div>
        <div class="form-group">
            <label>Email address</label><label class="fieldError" ng-show="form.email.$error.required || form.email.$error.email">This field is required and must be a valid e-mail address</label>
            <input required="" ng-model="email" name="email" type="email" class="form-control" placeholder="Enter email">
            <span class="form-field-obs">We'll never share your email with anyone else.</span>
        </div>
        <div class="form-group">
            <label>Mobile number</label><label class="fieldError" ng-show="form.mobile.$error.required || !form.mobile.$valid">This field is required and must use International format, ex: +440000000000</label>
            <input ng-pattern="rxMobile" required ng-model="mobile" name="mobile" type="text" class="form-control" placeholder="International format, ex: +4400000000000">
            <span class="form-field-obs">We'll send a SMS code to confirm it. {{form.mobile.$valid}}</span>
        </div>
        <div class="form-group">
            <label>Password</label><label class="fieldError" ng-show="!form.pass1.$valid">At least 8 characters, must contain lower and upper cases and numbers</label>
            <input ng-pattern = "rxPassword" ng-model="pass1" name="pass1" type="password" class="form-control" placeholder="At least 8 characters, must contain lower and upper cases and numbers">
            <span class="form-field-obs">Leave this in blank to not change the password.</span>
        </div>
        <div class="form-group">
            <label>Confirm password</label><label class="fieldError" ng-show="pass1!=pass2 && pass1 !=''">Passwords does not matches</label>
            <input ng-model="pass2" type="password" class="form-control" placeholder="Must match the password typed above">
            <small></small>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="submit" ng-click="ok()">Save</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>