<div class="modal-header">
    <h3 class="modal-title">Confirm your telephone#</h3>
</div>
<div class="modal-body">
    <form name="form">
        <div class="form-group">
            <label>SMS Code:</label><!--<label class="fieldError" ng-show="form.code.$error.required" maxlength="4">Invalid code</label>-->
            <input required="" ng-model="code" name="code" type="text" class="form-control" placeholder="">
            <span class="form-field-obs">We sent you a code through SMS. Plz tell us the code.</span>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="submit" ng-click="ok()">Confirm</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>