<div class="modal-header">
    <h3 class="modal-title">New solution</h3>
</div>
<div class="modal-body">
    <div class="struct">
        <img src="/images/package_hierarchy.png" style="border-radius: 4px">
    </div>
    <div class="right">
        <div class="strucTxt">
            In order to create a new solution, you need to create and upload a <b>zip file</b> following this structure.A file named solution.json (sensitive case) must be present in the root of the zip file.
            Every new solution starts as trial solution and it’s free. A trial solution has a limitation of only the first 4 pages will display on the mobile app. So, after the upload if you wish to upgrade your solution, choose <a [routerLink]="['/manage/solutions']">Manage solutions</a> on the navigation bar. Is your first time creating solutions? Consider to download our <a href="#">user guide.</a>
            <div style="clear:both">
                <div style="height: 20px;" ng-if="uploader.queue.length ==0"></div>
                <input ng-if="uploader.queue.length ==0" type="file" nv-file-select uploader="uploader"/><br/>
                <table class="table" ng-if="uploader.queue.length >0">
                    <thead>
                    <tr>
                        <th width="50%">Name</th>
                        <th ng-show="uploader.isHTML5">Size</th>
                        <th ng-show="uploader.isHTML5">Progress</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in uploader.queue">
                        <td><strong>{{ item.file.name }}</strong></td>
                        <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                        <td ng-show="uploader.isHTML5">
                            <div class="progress" style="margin-bottom: 0;">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                            </div>
                        </td>
                        <td class="text-center">
                            <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                            <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                            <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                        </td>
                        <td nowrap>
                            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                <span class="glyphicon glyphicon-trash"></span> Remove
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--<div>
            As alternative, you can create a new solution by copying an existing solution (expired or not).
            <select></select>
        </div>-->
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="submit" ng-click="uploader.uploadAll()" >Upload</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>