<div class="modal-header">
    <h3 class="modal-title">Upgrade solution</h3>
</div>
<div class="modal-body">
    Choose the best plan for you. After this step you will be redirect to PayPal to perform the payment. If you are a company located in UK, we can offer bank transfer as payment option and issue an invoice. Just contact us at <a href="mailto:sales@wunderscript.com">sales@wunderscript.com</a><br><br>
    <form name="form">
        <div class="form-group">
            <label ng-repeat="s in prices track by $index" style="width: 100%; height: 20px;">
                <input type="radio" name ="option" ng-model="$parent.indexSelected" ng-value="s.months">
                {{s.months}} <span ng-if="s.months ==1">Month</span><span ng-if="s.months > 1">Months</span> - {{currencySymbol}} {{s.price}} + vat
            </label>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="submit" ng-click="ok()"><i class="fa fa-paypal" aria-hidden="true"></i> Pay</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>