<img class="logoOnCms" src="/images/logo_big_white.png">
<div id="cms" ng-if="!busy">
    <div class="cmsHeader">
        <div class="clientId">
            <!--client id : {{clientId}}-->
        </div>
        <div class="btn-group pull-right" uib-dropdown>
            <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                {{companyName}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                <li role="menuitem"><a style="cursor:pointer" ng-click="openChangeDetails()">Change details</a></li>
                <li class="divider"></li>
                <li role="menuitem"><a style="cursor:pointer" ng-click="logoff()">Logoff</a></li>
            </ul>
        </div>
    </div>
    <div class="solutionsTop">
        <h2>Solutions</h2>
        <div class="pull-right avSeats">Available seats: {{availableSeats}}</div>
    </div>
    <div class="solutionsOptions">
        <span class="solutionsActions_enabled" ng-click="openNewSolution()"><i class="fa fa-plus-square-o " aria-hidden="true"></i> new solution&nbsp; &nbsp; &nbsp; &nbsp; </span><span ng-click="openBuySeats()" class="solutionsActions_enabled"><i class="fa fa-credit-card" aria-hidden="true"></i> buy new seats&nbsp; &nbsp; &nbsp; &nbsp; </span><span ng-click="allocateSeats()" ng-class="{ solutionsActions_enabled : oriAvailableSeats > availableSeats , solutionsActions_disabled : oriAvailableSeats == availableSeats }"><i class="fa fa-gavel" aria-hidden="true"></i> commit new seats allocations</span>
    </div>
    <table class="table table-striped table-hover" style="font-size: 16px;">
        <thead>
        <tr>
            <th style="width: 156px;"></th>
            <th>Solution</th>
            <th>Token</th>
            <th class="cellCenterText">Expiration</th>
            <th class="cellCenterText">Seats</th>
            <th ng-if="availableSeatsSession >0" class="cellCenterText">Add seats</th>
            <th>Solution Type</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="s in solutions track by $index">
            <td><i style="color:red;margin-left:0" class="fa fa-trash-o iconAction" ng-click="deleteSolution(s.appId, s.name)" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<i style="color:cyan" class="fa fa-refresh iconAction" aria-hidden="true" ng-click="openUpdateSolution(s.appId);"></i>&nbsp;&nbsp;&nbsp;<a href="{{backendServer}}download/package/{{clientId}}/{{sessionId}}/{{s.appId}}"><i style="color: dodgerblue" class="fa fa-download iconAction" aria-hidden="true"></i></a></td>
            <td>{{s.name}}</td>
            <!--todo: replace token - requires implementation on device -->
            <td>{{s.tokenId}}</td>
            <td class="cellCenterText">{{s.expires}}</td>
            <td class="cellCenterText">{{s.creditsRemaining}} </td>
            <td ng-if="availableSeatsSession >0 && s.type == 'full'"><div class="addSeatsCellInner"><i ng-click="incDecSeat($index,'d')" class="fa fa-minus-circle iconAction" aria-hidden="true"></i><div class="addSeatsCell">{{s.addIncSeat}}</div><i ng-click="incDecSeat($index,'i')" class="fa fa-plus-circle iconAction" aria-hidden="true"></i></div></td>
            <td class="cellCenterText" ng-if="s.type == 'trial' && availableSeatsSession >0">{{s.addIncSeat}}</td>
            <td>{{s.type}}&nbsp;&nbsp;&nbsp;<i ng-if="s.type != 'full'" style="color:#df691a;" class="fa fa-level-up" aria-hidden="true"></i> <a style="color:#df691a;text-decoration: none; cursor:pointer" ng-if="s.type != 'full'" ng-click="openUpgradeSolution(s.appId)">Upgrade</a></td>
        </tr>
        </tbody>
    </table>
</div>