<div class="container">
    <form class="form-signin loginForm">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input ng-model="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input ng-model="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="form-invalid-login" ng-if="invalidLogin">
            Invalid Login
        </div>
        <button ng-click="doLogin()" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
    <img class="logoOnLogin" src="/images/logo_big_white.png">
</div>